# 6.1

In [12]:
#

n = int(input())
res = {i: i**2 for i in range(1, n + 1)}
print(res)

20
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [16]:
#

from string import ascii_lowercase
alphabet = {ascii_lowercase[i - 1]: i for i in range(1, 27)}
for key, value in alphabetres.items():
    print(key, value)

a 1
b 2
c 3
d 4
e 5
f 6
g 7
h 8
i 9
j 10
k 11
l 12
m 13
n 14
o 15
p 16
q 17
r 18
s 19
t 20
u 21
v 22
w 23
x 24
y 25
z 26

In [21]:
#

d1 = {'a': 100, 'b': 200, 'c': 333}
d2 = {'x': 300, 'y': 200, 'z': 777}
rez = d1 | d2
print(rez)

{'a': 100, 'b': 200, 'c': 333, 'x': 300, 'y': 200, 'z': 777}

In [23]:
# Система регистрации

res = {}
n = int(input())
for i in range(n):
    name = input()
    if res.get(name) == None:
        print('OK')
        res[name] = 0
    else:
        new_key = name + str(res[name] + 1)
        print(new_key)
        res[new_key] = 0
        res[name] += 1

4
abc
OK
abcd
OK
abc
abc1
abc
abc2

In [36]:
#

countries = {
    "Sweden": ["Stockholm", "Göteborg", "Malmö"],
    "Norway": ["Oslo", "Bergen", "Trondheim"],
    "England": ["London", "Birmingham", "Manchester"],
    "Germany": ["Berlin", "Hamburg", "Munich"],
    "France": ["Paris", "Marseille", "Toulouse"]
}

city = input()
found = False
for key in countries:
    if city in countries[key]:
        found = True
        print(f'INFO: {city} is a city in {key}')
if found == False:
    print(f'ERROR: Country for {city} not found')

Birmingham
INFO: Birmingham is a city in England

# 6.2

In [7]:
# 

string = input().lower().replace(' ', '')
res = {}
for s in string:
    if s.isalpha():
        res[s] = res.get(s, 0) + 1
print(res)

ZZzzzZ34 WWw777
{'z': 6, 'w': 3}

In [11]:
data = {'my_friends': {'count': 10, 'items': [{'first_name': 'Kurt', 'id': 621547005, 'last_name': 'Cobain', 'bdate': '31.8.2005'}, {'first_name': 'Виолетта', 'id': 484200150, 'last_name': 'Кастилио'}, {'first_name': 'Иринка', 'id': 21886133, 'last_name': 'Бушуева', 'bdate': '28.8.1942'}, {'first_name': 'Данил', 'id': 282456573, 'last_name': 'Греков', 'bdate': '4.7.2002'}, {'first_name': 'Валентин', 'id': 184902932, 'last_name': 'Долматов', 'bdate': '25.5'}, {'first_name': 'Евгений', 'id': 620469646, 'last_name': 'Шапорин', 'bdate': '6.12.1982'}, {'first_name': 'Ангелина', 'id': 622328862, 'last_name': 'Краснова', 'bdate': '4.11.1995'}, {'first_name': 'Иван', 'id': 576015198, 'last_name': 'Вирин', 'bdate': '2.2.1915'}, {'first_name': 'Паша', 'id': 386922406, 'last_name': 'Воронов', 'bdate': '27.9'}, {'first_name': 'Ольга', 'id': 622170942, 'last_name': 'Савченкова', 'bdate': '20.12'}]}}

In [13]:
#

res = []
for i in range(data['my_friends']['count']):
    name = data['my_friends']['items'][i]['first_name']
    res.append(name)
for elem in sorted(res):
    print(elem)

Kurt
Ангелина
Валентин
Виолетта
Данил
Евгений
Иван
Иринка
Ольга
Паша

In [16]:
# Анаграмма

string_1, string_2 = input(), input()
res_1 = {}
res_2 = {}
for s in string_1:
    res_1[s] = res_1.get(s, 0) + 1
for s in string_2:
    res_2[s] = res_2.get(s, 0) + 1
print('YES' if res_1 == res_2 else 'NO')

abb
bbc
NO

In [18]:
# Азбука Морзе

morze = {'a': '.-', 'b': '-...', 'c': '-.-.', 'd': '-..',
         'e': '.', 'f': '..-.', 'g': '--.', 'h': '....',
         'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
         'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
         'q': '--.-', 'r': '.-.', 's': '...', 't': '-',
         'u': '..-', 'v': '...-', 'w': '.--', 'x': '-..-',
         'y': '-.--', 'z': '--..'}
string = input().lower()
for s in string:
    if s == ' ':
        print()
    else:
        print(morze[s], end=' ')

Houston we have a problem
.... --- ..- ... - --- -.
.-- .
.... .- ...- .
.-
.--. .-. --- -... .-.. . --

# 6.3

In [21]:
#

people = [
    ['Amy Smith', '694.322.8133x22426'],
    ['Brian Shaw', '593.662.5217x338'],
    ['Christian Sharp', '118.197.8810'],
    ['Sean Schmidt', '9722527521'],
    ['Thomas Long', '163.814.9938'],
    ['Joshua Willis', '+1-978-530-6971x601'],
    ['Ann Hoffman', '434.104.4302'],
    ['John Leonard', '(956)182-8435'],
    ['Daniel Ross', '870-365-8303x416'],
    ['Jacqueline Moon', '+1-757-865-4488x652'],
    ['Gregory Baker', '705-576-1122'],
    ['Michael Spencer', '(922)816-0599x7007'],
    ['Austin Vazquez', '399-813-8599'],
    ['Chad Delgado', '979.908.8506x886'],
    ['Jonathan Gilbert', '9577853541']
]
phone_book = {user[1]: user[0] for user in people}
phone_book

{'694.322.8133x22426': 'Amy Smith',
 '593.662.5217x338': 'Brian Shaw',
 '118.197.8810': 'Christian Sharp',
 '9722527521': 'Sean Schmidt',
 '163.814.9938': 'Thomas Long',
 '+1-978-530-6971x601': 'Joshua Willis',
 '434.104.4302': 'Ann Hoffman',
 '(956)182-8435': 'John Leonard',
 '870-365-8303x416': 'Daniel Ross',
 '+1-757-865-4488x652': 'Jacqueline Moon',
 '705-576-1122': 'Gregory Baker',
 '(922)816-0599x7007': 'Michael Spencer',
 '399-813-8599': 'Austin Vazquez',
 '979.908.8506x886': 'Chad Delgado',
 '9577853541': 'Jonathan Gilbert'}

# 6.4

In [22]:
#

my_tuple = (-214, 181, -139, 448, -664, -66, 213, 832, 717, -462, -924, -706, -85, -244, -222, -340, -482, -518, -781, 759, -593, 905, -354, -377, -141, -742, 383, -381, 109, -639, -480, -810, -686, 892, -612, 696, 993, 791, 631, -493, -218, -829, -275, 619, -628, -241, -565, -835, -69, 747, 711, -252, -811, -407, -153, 904, 933, -254, 307, -493, -419, -109, -543, 155, -127, 613, -452, -459, 856, 562, 333, -66, -77, -598, -779, -278, 867, 321, -20, -415, -357, 735, -906, -14, -370, 453, -630, -736, -830, -917, 32, 422, -895, 198, 284, 472, -986, -964, -73, 29)
print(min(my_tuple), max(my_tuple))

-986 993

In [23]:
#

my_tuple = (-214, 181, -139, 448, -664, -66, 213, 832, 717, -462, -924, -706, -85, -244, -222, -340, -482, -518, -781, 759, -593, 905, -354, -377, -141, -742, 383, -381, 109, -639, -480, -810, -686, 892, -612, 696, 993, 791, 631, -493, -218, -829, -275, 619, -628, -241, -565, -835, -69, 747, 711, -252, -811, -407, -153, 904, 933, -254, 307, -493, -419, -109, -543, 155, -127, 613, -452, -459, 856, 562, 333, -66, -77, -598, -779, -278, 867, 321, -20, -415, -357, 735, -906, -14, -370, 453, -630, -736, -830, -917, 32, 422, -895, 198, 284, 472, -986, -964, -73, 29)
total = count = 0
for elem in my_tuple:
    if elem % 2 != 0:
        total += elem
        count += 1
print(total / count)

-18.0

In [25]:
#

a, b = int(input()), int(input())
res_tuple = tuple(i for i in range(a, b + 1))
print(res_tuple)

8
11
(8, 9, 10, 11)

In [33]:
#

n = int(input())
res_tuple = tuple(i for i in range(n, n**2 + 1) if i % 2 != 0)
print(res_tuple)

5
(5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25)

# 6.5

In [38]:
#

a, b = set(map(int, input().split())), set(map(int, input().split()))
print(*sorted(a & b))

1 2 3 4 5
3 4 5 6 7
3 4 5

In [39]:
#

a, b = set(map(int, input().split())), set(map(int, input().split()))
print(*sorted(a - b))

1 3 2 5
4 3 2 6
1 5

In [45]:
#

string = input()
res = {s for s in string if s.isdigit() and string.count(s) > 1}
print(*sorted(res) if len(res) > 0 else ['NO'])

qwerty123
NO

In [58]:
#

string = list(input())
b = []
res = set()
for s in string:
    if s not in res:
        res.add(s)
        b.append(s)
print(''.join(b))

abc312re542Ab
abc312re54A

In [61]:
#

string = input()
d = set()
b = set()
v = set()
while string != 'конец':
    text = string.split(': ')
    if text[0] == 'Дили':
        d.add(text[1])
    elif text[0] == 'Били':
        b.add(text[1])
    else:
        v.add(text[1])
    string = input()
res = {len(v): 'Вили', len(d): 'Дили', len(b): 'Били'}
for key in sorted(res, reverse=True):
    print(f'Количество уникальных комментаторов у {res[key]} - {key}')

Дили: navalny
Дили: realdonaldtrump
Били: navalny
Вили: realdonaldtrump
Вили: realdonaldtrump
Били: joebiden
Дили: joebiden
конец
Количество уникальных комментаторов у Били - 2
Количество уникальных комментаторов у Вили - 1
Количество уникальных комментаторов у Дили - 0

In [3]:
# Девушка или Юноша

nickname = set(input())
print('IGNORE HIM!' if len(nickname) % 2 == 1 else 'CHAT WITH HER!')

sevenkplus
CHAT WITH HER!

In [5]:
# Не смешите мои подковы

horseshoes = set(input().split())
lenght = len(horseshoes)
print(4 - lenght)

7 7 7 7
3

In [8]:
# Красивый год

year = input()
i = int(year)
while True:
    i += 1
    res = set(str(i))
    if len(res) == 4:
        print(i)
        break

1987
2013

In [14]:
# Антон и буквы

res = input()[1: -1]
if len(res) == 0:
    print(0)
else:
    res_set = set(res.split(', '))
    print(len(res_set))

{}
0

In [16]:
# Панграмма

n, string = input(), set(input().lower())
print('YES' if len(string) == 26 else 'NO')

35
TheQuickBrownFoxJumpsOverTheLazyDog
YES